{{#partial "login"}}
    <form action="/login" method="POST">
    <label>usuario</label>
    <input type="text" name="user">
    <label>contraseña</label>
        <input type="text" name="pass">
    <input type="submit">
    </form>
{{/partial}}
{{>layout.hbs}}

