{{#partial "body"}}
    <div class="container login">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="inputEmail1">Usuario</label>
                <input type="username" name="var_username" class="form-control" id="inputUsername1" aria-describedby="userHelp" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="inputPassword1">Contraseña</label>
                <input type="password" name="var_password" class="form-control" id="inputPassword1" placeholder="Contraseña">
                <small id="emailHelp" class="form-text text-muted">{{mensajeSesion}}</small>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
{{/partial}}
{{>encabezado.hbs}}